<!DOCTYPE html>
<html>
    <head>
        <!-- Подключаем аватарку -->
            <link 
                href="{{ STATIC_URL }}resources/images/favicon.ico" 
                rel="shortcut icon" 
                type="image/vnd.microsoft.icon" />
        <!-- /Подключаем аватарку -->
        <title>{% block title %}{% endblock %}</title>

        <!-- Скрипты -->
            <script src="{{ LIB_URLS.knockout }}knockout.js" type="text/javascript"></script>
            <script src="{{ LIB_URLS.jquery }}jquery.js" type="text/javascript"></script>
            <script src="{{ LIB_URLS.jquery_ui }}jquery-ui.js" type="text/javascript"></script>
            <script src="{{ LIB_URLS.knockout_mapping }}knockout.mapping-latest.js" type="text/javascript"></script>
            <script src="{{ LIB_URLS.momentjs }}moment.min.js" type="text/javascript"></script>

            <script src="{{ LIB_URLS.jquery_tooltipster }}js/jquery.tooltipster.min.js"></script>
            <script src="{{ LIB_URLS.head }}head.min.js" type="text/javascript"></script>
            {% block scriptblock %}{% endblock %}
        <!-- /Скрипты -->
        
        <!-- Стили -->
            <link 
                href="{{ LIB_URLS.jquery_tooltipster }}css/tooltipster.css" 
                media="all" 
                rel="stylesheet" />
            <link 
                href="{{ STATIC_URL }}resources/styles/base.css" 
                media="all" 
                rel="stylesheet" />
        <!-- /Стили -->

        {% block styles %}{% endblock %}
    </head>
    <form action="">
        {% csrf_token %}
    </form>
    {% block content %}{% endblock %}
    {% block popup %}{% endblock %}
</html>