{% extends "base.html" %}
{% block title %}Тюфякин Константин - тестовое задание{% endblock %}

{% block scriptblock %}
    <script type="text/javascript">
        head.js('{{ STATIC_URL }}resources/scripts/index.js')
    </script>

{% endblock %}

{% load json %}

{% block content %}
    
    <script type="text/javascript">
    head.ready(function() {
        $(document).ready(function() {
            BaseVM = new BaseVM({
                records: {{ records|json }},
            });
            ko.applyBindings(BaseVM, $('#baseView')[0]);
        });
    });
    </script>

    <body>
        <div class="main">
            <h1>Тюфякин Константин</h1>
            <h2>тестовое задание</h2>
        </div>
        <div class="content" id="baseView">
            <div class="left">
                <div class="input">
                    <span data-bind="text: statusMessage()"></span>
                    <div class="clear"></div>
                    <div class="left">
                        <li>
                            <input type="text" 
                                data-bind="value: inpFirst, valueUpdate: 'afterkeydown', event: {keyup: validateInp}"

                            />
                        </li>
                        <div class="clear"></div>
                        <li>
                            <input type="text" 
                                data-bind="value: inpSecond, valueUpdate: 'afterkeydown', event: {keyup: validateInp}"
                            />
                        </li>
                    </div>
                    <div class="right">
                        <a href="javascript:;" data-bind="click: addValue">+ Add</a>
                    </div>
                    <div class="clear"></div>
                    <div class="calc">
                        <a href="javascript:;" class="calc-button" data-bind="click: calcFun">
                            подcчитать
                        </a>
                    </div>


                </div>
            </div>
            <div class="right">
                <span class="console-title">Последние действия</span>
                <div class="clear"></div>
                <div class="console">
                    <div class="console-content">
                        <pre>
                        <!-- ko foreach: objectsList -->
                            <li>
                                <time data-bind="text: moment(last_modified_date, 'DD/MM/YYYY h:mm:ss').lang('ru').calendar()"></time>
                                <span data-bind="text: 'a: ' + first_summand"></span>
                                <span data-bind="text: 'b: ' + second_summand"></span>
                                <!-- ko if: !!result -->
                                <span class="result" data-bind="text: 'result: ' + result"></span>
                                <!-- /ko -->
                                <span class="error" data-bind="visible: has_error">error</span>
                            </li>
                        <!-- /ko -->
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}